<!--<div ng-controller="formEdit" layout="column" style="height:500px;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        
          <div>
            <md-content class="md-padding">
              <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab One</h1>
                    <p>First tab</p>
                  </md-content>
                </md-tab>
                <md-tab label="two">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Two</h1>
                    <p>Second tab</p>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
          </div>

        <p hide-md show-gt-md>
        </p>
      </md-content>
    </md-sidenav>

    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <p>
        Main Content
        </p>
        
    </md-sidenav>
  </section>
</div>
-->

<div ng-controller="formEdit" layout="column" style="height:500px;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>

      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        testing
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <p>
        Main content here
        </p>
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>
  </section>
</div>