<div ng-controller="formEdit" layout="column" style="height:550px;">
<section layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    
    <md-content layout-padding ng-controller="LeftCtrl">

      <div>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab class="md-theme-indigo" label="Tool Box">
              <md-content>
                <p>Tab 1 Contents</p>
              </md-content>
            </md-tab>
            <md-tab class="md-theme-indigo" label="Properties">
              <md-content>
                <p>Tab 2 Contents</p>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>


      <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button>

    </md-content>
  </md-sidenav>
  <md-content flex layout-padding>
    <div layout="column" layout-fill layout-align="top center">
      <p>
      Main content here
      </p>
      <div>
        <md-button ng-click="toggleLeft()"
          class="md-primary" hide-gt-md>
          Toggle left
        </md-button>
      </div>
    </div>
    <div flex></div>
  </md-content>
</section>
</div>